.event-modal {
    min-width: 80%;
}

.modal-content {
    max-height: 70% !important;
    overflow-y: auto !important;
}


.first-row-element {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.first-row-input {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.tag-box {
    display: flex;
    flex-direction: column;
}

.tag-list {
    display: flex;
    flex-direction: row;
}

.tag-element {
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 1px solid white;
    color: black;
    text-align: center;
    margin-right: 2%;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.tag-element:hover {
    background-color: #FFAE64;
}

.selected {
    background-color: #FFAE64 !important;
}


.venue-list {
    width: 90% !important;
}

.submit-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.submit-form button {
    margin-left: 2%;
}

.close-modal-button {
    border-radius: 10px;
    background-color: #D9D9D9;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
    height: 80%;
    padding: 5px;

}

.close-modal-button:hover {
    background-color: #FFAE64;
}