@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.navbar {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(228, 213, 213);
}

.nav-elements ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  /* font-weight: bold; */
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.title {
  align-self: flex-start;
  color: white;
}