.tasks {
    display: flex;
}

.task-list {
    display: flex;
    overflow-x: scroll;
    flex-direction: column;
}

.task-card {
    margin-right: 1%;
    max-width: 100%;
    margin-bottom: 5px;
    background: #205564;
}

.task-card-location {
    background-color: grey;
    border-radius: 10px 10px 10px 10px;
    max-width: 15%;
    display: flex;
    flex-direction: row;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: #312c2c;
    width: 90%;
    table-layout: fixed;
  }
  tr {
    border-bottom: 1px solid #ccc;
  }
  th,
  td {
    text-align: left;
    padding: 8px 10px;
  }