body {
  margin: 0;
  font-family: "Maven Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: #031B22;
  color: white;
}

code {
  font-family: "Maven Pro";
}

#root {
  min-height: 100vh !important;
  min-width: 100vw !important;
}